.jobs--container {
  margin-top: 90px !important;
  margin-left: 20px;
  .title {
    color: red;
    &:hover {
      color: green;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .sort-select-tag {
    border: 2px solid black;
    padding: 5px;
    width: 200px;
    display: flex;
    margin-left: 10px;
  }
  .release-date {
    color: blue;
  }
}