.job-list {
  text-align: left;
  .job-list-main {
    border: 3px solid #0f3575;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }
  h2 {
    color: #439ed9;
  }
  h4 {
    color: #81ba56;
  }
  p {
    font-weight: 600;
  }
}
